#variantic-layout .Layout {
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: var(--scrollBg);
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: var(--scrollBg);
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: var(--scrollThumbBg);
    }
}