#variantic-layout .Parameter {
    input[type=range] {
        flex: 1;
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        background: white;
        outline: none;
        border: 1px solid #d1d5db;
        -webkit-transition: .2s;
        transition: opacity .2s;
        box-sizing: border-box;
    }
    
    input[type=range]:hover {
        opacity: 1;
    }
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: var(--rangeThumbBorderRadius);
        width: 16px;
        height: 16px;
        background: var(--rangeThumbBg);
        border: 2px solid var(--rangeThumbBorder);
        cursor: pointer;
    }
    
    input[type=range]::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: var(--rangeThumbBorderRadius);
        background: var(--rangeThumbBg);
        border: 2px solid var(--rangeThumbBorder);
        cursor: pointer;
    }
}
