@import "https://fonts.googleapis.com/icon?family=Material+Icons";

#variantic-layout {
    @import "~tailwindcss/src/css/preflight";

    -webkit-text-size-adjust: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
	tab-size: 4;
    line-height: inherit;
	margin: 0;
}

#variantic-layout {
    width: inherit;
    height: inherit;
    overflow: hidden;

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }

    .ReactCollapse--collapse {
        transition: height 250ms;
    }

    .left-collapsed {
        height: 100%!important;
    }

    .right-collapsed {
        transform: translateY(100%);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    #variantic-layout  {
        .left-collapsed {
            width: 100%!important;

        }

        .right-collapsed {
            transform: translateX(100%);
        }
    }
}
